@import './variables/colors';
@import './variables/fonts';

.header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 215px;
    width: 100%;
    padding: 0 16.5%;
    
    &__picture{
        height: 100%;
        width: 215px;
        background-color: $red;
        box-shadow: black 10px;
    }

    &__logo{
        width: 110px;
        margin: 45px;
        fill: white;
    }
}

.nav{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;


    &__list{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    &__element{
        text-align: center;
        padding: 1%;
        transition: .05s linear;

        &:hover{
            border-bottom: 2px solid $red;
            
        }

        &--last{
            width: 20%;
            padding: 3%;
            background-color: $red;

            &:hover{
                border-bottom: none;
                
            }
        }
    }

    &__link{
        text-decoration: none;
        font-size: $small;
        color: $font-light;
        font-weight: 600;
    }
}