@import './header';
@import './variables/colors';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    height: 100%;
}

.main{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 810px;
    padding: 0 16.5%;
    background-image: url(../../sources/main_page_bg.png);

    &__title{
        color: $font-light;
        font-size: $h1;
        text-align: right;
        line-height: $h1;
    }

    &__text{
        margin-top: 15%;
        text-align: right;
        color: $font-light;
        font-size: $semi-small;
        font-weight: 600;
    }
}

.articles{
    position: absolute;
    display: flex;
    justify-content: center;
    
    height: 300px;
    padding: 0 16.5%;
    top: 660px;

}

.article{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 33.3%;
    padding: 3%;
    //background-color: $red;
    color: $font-light;

    &--first{
        background-image: url(../../sources/article1.png);
        background-size: cover;

        &::before{
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            background-image: linear-gradient(#d50000, rgba(#d50000, 0.9));
            width: 100%;
            height: 100%;
        }
    }

    &--second{
        background-image: url(../../sources/article2.png);
        background-size: cover;

        &::before{
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            background-image: linear-gradient(#a90000, rgba(#a90000, 0.9));
            width: 100%;
            height: 100%;
        }
    }

    &--black{
        background-image: url(../../sources/article3.png);
        background-size: cover;

        &::before{
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            background-image: linear-gradient(#0d0d0d, rgba(#0d0d0d, 0.9));
            width: 100%;
            height: 100%;
        }
    }

    &__date{
        margin-bottom: 2%;
        font-size: $small;
    }

    &__title{
        margin-bottom: 10%;
        font-size: $h3;
        font-weight: 400;

        &--black{
            color: $red;
        }
    }

    &__text{
        font-size: $text;
        line-height: 25px;
    }

    &__button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        height: 15%;
        font-size: $text;
        position: absolute;
        top: 80%;
        right: 0%;
        background-color: transparent;
        border: none;
        outline: none;
        color: $font-light;
        font-weight: 400;

        &--logo{
            background-color: $font-light;
            padding: 9%;
        }

        &--logoDark{
            background-color: $red;
            padding: 9%;
        }
    }

    &__date, &__title, &__text{
        z-index: 10;
    }
}